.users-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;

}

.users-table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
  }

.paginator-data * {
  margin: 16px 0;
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}